:root {
    --header-height: 50px;
    --sidebar-width: 18rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 600px;
    position: relative;
    border: 1px solid yellow;
}

button {
    background: none;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

/*****************************
* Header
******************************/
header {
    border: 1px solid red;
    padding: 0 20px;
    width: 100%;
    height: var(--header-height);
    display: none;
    align-items: center;
}

#hamburger{ 
    display: none;
    border: none;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}  

#hamburger span {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: transform 500ms, opacity 500ms;
}

#hamburger.active span:first-child {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*****************************
* Navigation sidebar
******************************/
#sidebar {
    border: 1px solid blue;
    height: 100%;
    width: var(--sidebar-width);
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#user {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}

#user a {
    height: 40px;
}

#profile-pic {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    transition: box-shadow 500ms;
}

#profile-pic:hover {
    box-shadow: 0 0 10px 2px blue;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav h2 {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

nav h2:not(:first-child) {
    margin-top: 30px;
}

#project-list {
    flex: 1 1 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/**************************
* Main content
**************************/
#main {
    border: 1px solid green;
    min-height: 600px;
    /* height: auto; */
    width: calc(100% - var(--sidebar-width));
    margin-left: 18rem;
    padding: 20px 5%;
    overflow: hidden;
    /* transition: margin-left 500ms, width 500ms; */
}

.view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 30px;
}

.view-header span {
    font-size: 1.3rem;
}
/*
.project-component div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-component {
    margin-bottom: 70px;
}*/

.task-component {
    width: 100%;
    max-height: 30px;
    overflow: hidden;
    transition: max-height 500ms;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 13px 1fr repeat(4, min-content);
    grid-template-rows: min-content 1fr;
    align-items: center;
    gap: 15px;
}

.task-component.expand {
    height: 400px;
}

.task-component p:first-of-type {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-btn, .task-img {
    width: 19px;
    height: 19px;
}

.task-btn, .expand-label {
    padding: 0;
    border: none;
    margin: 0 3px;
}

.expand-label {
    width: min-content;
    transition: transform 300ms;
}

.expand-task {
    display: none;
}

.expand-task:checked + .expand-label {
    transform: rotate(-180deg);
}

.task-component:has(.expand-task:checked) {
    max-height: 100px;
}

.complete-label {
    display: none;
}

.expanded-task-content {
    grid-column: 2 / -1;
    /* display: flex;
    flex-direction: column;
    gap: 15px; */
    transition: visibility 500ms;
    visibility: hidden;
}

.expand-task:checked ~ .expanded-task-content {
    visibility: visible;
}

/**************************
* Project views
**************************/
.project-btns {
    display: flex;
    justify-content: right;
}

.add-task {
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: -5px;
}

/*****************************
* Modal
******************************/
.modal-overlay {
    background-color: rgba(128, 128, 128, 0.415);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 10px;
}

.modal-header {
    border-bottom: 1px solid;
    padding: 20px;
    font-size: 1.7rem;
}

.modal form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal form input {
    padding: .5em 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.modal-btns {
    border-top: 1px solid gray;
    padding-top: 20px;
    display: flex;
    justify-content: right;
    gap: 20px;
}



/**************************
* Media Queries
**************************/
/* 1400px and below */
@media only screen and (max-width: 1400px) {

}

/* 1200px and below */
@media only screen and (max-width: 1200px) {

}

/* 800px and below */
@media only screen and (max-width: 800px) {
    #sidebar {
        transform: translateX(calc(-1 * var(--sidebar-width)));
        transition: margin-left 500ms;
        height: calc(100% - var(--header-height));
    }


    #sidebar.expand {
        margin-left: 18rem;
    }

    #main {
        margin-left: 0;
        width: 100%;
        min-height: calc(600px - var(--header-height));
        height: calc(100vh - var(--header-height));
    }

    header {
        display: flex;
    }

    #hamburger {
        display: flex;
    }
}