* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    
}

body {
    /* min-height: 100vh; */
    position: relative;
}

button {
    background: none;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
}

/*****************************
* Header
******************************/
header {
    border: 1px solid red;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    display: none;
    align-items: center;
}

#hamburger{ 
    display: none;
    flex-direction: column;
    gap: 5px;
}  

#hamburger span {
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}

/*****************************
* Navigation sidebar
******************************/
#sidebar {
    border: 1px solid blue;
    height: 100%;
    width: 18rem;
    position: absolute;
    padding: 20px;
    /* transition: transform 500ms; */
}

#user {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid; */
}

#user a {
    height: 40px;
}

#profile-pic {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    transition: box-shadow 500ms;
}

#profile-pic:hover {
    box-shadow: 0 0 10px 2px blue;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav h2 {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

nav h2:not(:first-child) {
    margin-top: 30px;
}

#project-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 290px;
}

/**************************
* Main content
**************************/
#main {
    border: 1px solid green;
    min-height: 100vh;
    width: calc(100% - 18rem);
    margin-left: 18rem;
    padding: 20px 5%;
    overflow: hidden;
    /* transition: margin-left 500ms, width 500ms; */
}

.view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

/**************************
* Page views
**************************/
.view-header span {
    font-size: 1.3rem;
}

.project-component div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-component {
    margin-bottom: 70px;
}

.task-component {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: flex;
}

.task-component p:first-child {
    flex: 1;
}

/*****************************
* Modal
******************************/
.modal-overlay {
    background-color: rgba(128, 128, 128, 0.415);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 10px;
}

.modal-header {
    border-bottom: 1px solid;
    padding: 20px;
    font-size: 1.7rem;
}

.modal form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal form input {
    padding: .5em 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.modal-btns {
    border-top: 1px solid gray;
    padding-top: 20px;
    display: flex;
    justify-content: right;
    gap: 20px;
}



/**************************
* Media Queries
**************************/
/* 1400px and below */
@media only screen and (max-width: 1400px) {

}

/* 1200px and below */
@media only screen and (max-width: 1200px) {

}

/* 800px and below */
@media only screen and (max-width: 800px) {
    #sidebar {
        transform: translateX(-18rem);
    }

    #main {
        margin-left: 0;
        width: 100%;
    }

    header {
        display: flex;
    }

    #hamburger {
        display: flex;
    }
}