:root {
    --header-height: 50px;
    --sidebar-width: 18rem;

    --header-bg-color: #eff1f6;
    --sidebar-bg-color: #eff1f6;
    --sidebar-bg-color-dark: #6091b7;
    --sidebar-button-color: white;
    --body-bg-color: white;
    --box-shadow-color: rgb(225, 225, 225);

    --modal-form-color: white;

    --low-priority-color: rgb(32, 184, 118);
    --medium-priority-color: rgb(255, 228, 74);
    --high-priority-color: rgb(240, 145, 132);
    --date-color: #6091b7;

    --light-gray: rgb(225, 225, 225);
    --med-gray: rgb(154, 154, 154);
    --font-color: #505050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 600px;
    position: relative;
    background-color: var(--body-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .05em;
    color: var(--font-color);
}

button {
    background: none;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    color: var(--font-color);
}

input[type="checkbox"], label[class="expand-label"] {
    cursor: pointer;
}

/*****************************
* Header
******************************/
header {
    padding: 0 20px;
    width: 100%;
    height: var(--header-height);
    display: none;
    align-items: center;
    background-color: var(--header-bg-color);
    box-shadow: 0px 2px 10px var(--box-shadow-color);
}

#hamburger{ 
    display: none;
    border: none;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}  

#hamburger span {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: transform 500ms, opacity 500ms;
}

#hamburger.active span:first-child {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*****************************
* Navigation sidebar
******************************/
#sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg-color);
    box-shadow: 2px 0px 10px var(--box-shadow-color);
}

#user {
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    font-size: .9rem;
    margin: -20px -20px 50px -20px;
    padding: 10px 10px 10px 20px;
    background-color: var(--sidebar-bg-color-dark);
    color: #dee2e6;
}

#user a {
    height: 40px;
}

#profile-pic {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    transition: box-shadow 500ms;
}

#profile-pic:hover {
    box-shadow: 0 0 10px 2px blue;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

nav h2 {
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

nav > button, #project-list button {
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    /* letter-spacing: .05em; */
    border-radius: 0;
    /* font-size: 1.1rem; */
    text-align: left;
    padding: 15px 0px 15px 10px;
}

nav button:hover {
    background-color: var(--sidebar-button-color);
}

nav h2:not(:first-child) {
    margin-top: 30px;
}

#project-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create-project  {
    margin-left: auto;
}

#create-project, .add-task {
    border: 1px solid #e9cab4;
    background-color: #ffe8d8;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: .8rem;
    /* color: rgb(96, 96, 96); */
    
}

#project-list {
    flex: 1 1 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

/**************************
* Main content
**************************/
#main {
    min-height: 600px;
    /* height: auto; */
    width: calc(100% - var(--sidebar-width));
    margin-left: 18rem;
    padding: 20px 5%;
    overflow: hidden;
    /* transition: margin-left 500ms, width 500ms; */
}

.view-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.8rem;
    gap: 10px;
    letter-spacing: .05em;
}

.view-header span {
    font-size: 1rem;
    color: var(--date-color);
}
/*
.project-component div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-component {
    margin-bottom: 70px;
}*/

.task-component {
    width: 100%;
    font-size: .9rem;
    max-height: 35px;
    overflow: hidden;
    transition: max-height 500ms;
    border-bottom: 1px solid var(--light-gray);
    /* padding-bottom: 15px; */
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 3px 13px 1fr repeat(3, min-content);
    grid-template-rows: min-content 1fr;
    align-items: center;
    gap: 15px;
}

/* .task-component.expand {
    height: 400px;
} */

.task-component p:first-of-type {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priority-tag {
    width: 100%;
    height: 30px;
}

.priority-tag.low {
    background-color: var(--low-priority-color);
}

.priority-tag.medium {
    background-color: var(--medium-priority-color);
}

.priority-tag.high {
    background-color: var(--high-priority-color);
}

.task-due {
    color: var(--date-color);
    font-size: .8rem;
}

.task-btn,
.task-img {
    width: 19px;
    height: 19px;
}

.task-btn,
.expand-label {
    padding: 0;
    border: none;
    margin: 0 3px;
}

.expand-label {
    width: min-content;
    transition: transform 300ms;
}

.expand-task {
    display: none;
}

.expand-task:checked + .expand-label {
    transform: rotate(-180deg);
}

.task-component:has(.expand-task:checked) {
    /* max-height: 100px; */
}

.complete-label {
    display: none;
}

.expanded-task-content {
    grid-column: 2 / -1;
    /* display: flex;
    flex-direction: column;
    gap: 15px; */
    transition: visibility 500ms;
    visibility: hidden;
}

.expand-task:checked ~ .expanded-task-content {
    visibility: visible;
}

.expanded-task-content span {
    font-weight: bold;
}

.expanded-task-content .task-parent {
    margin-bottom: 15px;
}

.expanded-task-content .task-description {
    line-height: 1.5em;
    /* letter-spacing: .05em; */
    padding-bottom: 15px;
}

/**************************
* Project views
**************************/
.project-btns {
    display: flex;
    justify-content: right;
}

.add-task {
    margin-bottom: 20px;
    margin-right: -5px;
}

/*****************************
* Modal
******************************/
.modal-overlay {
    background-color: rgba(128, 128, 128, 0.415);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 10px;
}

.modal-header {
    border-bottom: 1px solid;
    padding: 20px;
    font-size: 1.7rem;
}

.modal form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal form input,
.modal form select {
    padding: .5em 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.modal form input:focus {
    /* border: 1px solid var(--modal-form-color); */
    outline: none;
    border: 1px solid blue;
}

.modal-btns {
    border-top: 1px solid gray;
    padding-top: 20px;
    display: flex;
    justify-content: right;
    gap: 20px;
}

#edit-task-name.invalid,
#edit-task-due.invalid,
.modal form input.invalid {
    border: 1px solid red;
}

#edit-task-btns {
    justify-content: space-between;
}

#delete-task {
    background-color: rgb(255, 141, 141);
}

#cancel-edit-task {
    margin-right: 20px;
}

/**************************
* Media Queries
**************************/
/* 1400px and below */
@media only screen and (max-width: 1400px) {

}

/* 1200px and below */
@media only screen and (max-width: 1200px) {

}

/* 800px and below */
@media only screen and (max-width: 800px) {
    #sidebar {
        transform: translateX(calc(-1 * var(--sidebar-width)));
        transition: margin-left 500ms, box-shadow 500ms;
        height: calc(100% - var(--header-height));
        box-shadow: none;
    }


    #sidebar.expand {
        margin-left: 18rem;
        box-shadow: 2px 0px 10px var(--box-shadow-color);
        transition: margin-left 500ms;
    }

    #main {
        margin-left: 0;
        width: 100%;
        min-height: calc(600px - var(--header-height));
        height: calc(100vh - var(--header-height));
    }

    header {
        display: flex;
    }

    #hamburger {
        display: flex;
    }
}